*{

  font-family: 'Poppins', sans-serif ;
}

.logo{
  max-width: 40px;
   max-height: 40px;
}
.nav{
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
   font-size: 15px;
   font-weight: bold;
}
/* for the user in the nav*/
.user{
   position: relative;
   right: -30px;
   display: flex;
   justify-content: space-between;
}
.usr{
   position: relative;
   right: 10px;
   top: 19px;
   background-color: gray;
   max-width: 20px;
   max-height: 20px;
}
h3{
   font-size: 18px;
   font-weight: bold;
}
/* list items and link for nav */
ul{
   position: relative;
   top: 10px;
   display: flex;
   justify-content: space-around;
}
li{
   list-style: none;
   text-decoration: none;
   padding: 20px;
}
a{
   text-decoration: none;
   color: black;
   
}
.neww{
   display: flex;
}
.neww button{
   background-color: black;
   color: white;
   border-radius: 0;
   width: 90px;
}
.neww span{
   position: relative;
   right: -16px;
}
.neww button:hover{
   color: white;
}

/* for the price alert body */
.price-alert{
   background-color: rgb(196, 195, 195);
   margin-top: 10px;
   /* height: 500px; */
}

#price-drop{
   margin-top: 10px;
}
#input{
   max-width: 70px;
   position: relative;
   right: -130px;
}

/* all images */
#item{
   max-width: 200px;
   max-height: 180px;
   margin-right: 40px;
}

.product{
   margin-top: 60px;
   margin-bottom: 20px;
   display: flex;
   
}
#under-item{
   margin: 0;
   position: relative;
   left: -15px;
}
#under-item p{
   font-size: 14px;
   font-weight: bold;
}
#ud-input{
   margin-top: -5px;
}
#c-box{
   margin-right: -35px;
   width: 85px;
}
#set-alert{
   /* padding: 20px; */
   height: 50px;
   text-align: center;
   font-size: 16px;
   font-weight: bold;
   background-color: rgb(24, 23, 23);
   color: white;
   border: none;
   position: relative;
   left: -15px;
}
/* footer body */
#footer{
   display: flex;
   justify-content: space-between;
   text-align: center;
   margin-bottom: 20px;
   border-bottom: 1px solid gray;
}
#footer ul{
   display: block;
}

/* footer */
.foot{
   position: relative;
   bottom: 0;
   text-align: center;
   margin-top: 30px;
   border-top: 1px solid gray;
   /* background-color: yellowgreen; */
}
