* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'poppins', sans-serif;
    background-color: #fff;
}

a {
    text-decoration: none;
    list-style-type: none;
    color: #000;
}

.lnks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 60px;
    
}

.lnks a {
    font-size: medium;
    font-weight: bold;
}

.logo {
    background-color: gray;
    color: gray;
    padding: .5rem 2rem;
}

.signup {
    background-color: #000;
    color: #fff;
    padding: .5rem 1.8rem;
}

.search-bar {
    color: #fff;
    padding: .5rem 0rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: .5rem 1.3rem;
}

select {
    background-color: #000;
    color: #fff;
    padding: .5rem .8rem;
    border: 1px solid #000;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}

.search {
    // background-color: #000;
    color: #fff;
    padding: .5rem 5rem;
    border: 2px solid #000;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;

}

main {
    display: grid;
    grid-template-areas: 
        "aside1 asidex2 asidex2"
        "aside2 asidex2 asidex2"
        "aside3 asidex2 asidex2";

        gap: .5rem;
        margin: .8rem auto;
    width: 100%;
    max-width: 99%;
}
 
/* 1ST LEFT ASIDE*/
.col1 {
    grid-area: aside1;
    background-color: orange;
    color: rgb(134, 128, 117);
}


.col2 {
    grid-area: aside2;
    background-color: blue;
    color: rgb(200, 200, 219);
}

/* OUTER RIGHT-SECTION GRID */
.colx2 {
    grid-area: asidex2;
    background-color: green;
    color: rgb(161, 168, 161);
}


/* INNER GRID  SECTION */
.colx2 {
    display: grid;
    grid-template-areas: 
        "asidex2-a asidex2-b1 asidex2-b1";
        
    gap: .5rem;
    width: 100%;    
    max-width: 99%;
}

.colx2-a {
    grid-area: asidex2-a;
    background-color: red;
    color: rgb(161, 168, 161);
}

.colx2-b1 {
    grid-area: asidex2-b1;
    background-color: yellow;
    color: rgb(161, 168, 161);
}

ul  li {
    list-style-type: none;
    
}




/*  FOOTER */
pre-footer {
    display: grid;
    grid-template-areas: 
        "footer1 footer2 footer3 footer4";
    gap: .5rem;
    margin: 0 auto;
    width: 80%;
    max-width: 100%;
    
}


.HR {
    margin-top: 82px;
}

/* FOOTER */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 3.5em 0;
    position: fixed;
    bottom: 0;
}

footer p {
    font-size: smaller;
    text-align: center;
}